{% extends 'blog/basic.html' %}

{% block body %}

<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        {{post.title}}
      </h3>

      <div class="blog-post">
        <p class="blog-post-meta">{{post.pub_date}}</p>
        <h2 class="blog-post-title">{{post.head0}}</h2>
        <p>{{post.chead0}}</p>
        <h2>{{post.head1}}</h2>
        <p>{{post.chead1}}</p>
        <h2>{{post.head2}}</h2>
        <p>{{post.chead2}}</p>

      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">This is My Awesome Cart <em>E-commerce Website </em> Developed My Mukesh. You can use this website to purchase Products online.</p>
      </div>


      <div class="p-4">
        <h4 class="font-italic">Contact Us On:</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div>
{% endblock  %}